@import url("./ymacs/ymacs.css");
@import url("./ymacs/themes/emacs-material.css");
@import url("./ymacs/themes/emacs-sanityinc-tomorrow-day.css");
@import url("./ymacs/themes/emacs-sanityinc-tomorrow-night.css");
@import url("./ymacs/themes/emacs-sanityinc-tomorrow-blue.css");
@import url("./ymacs/themes/emacs-base16-apathy.css");

html, body {
  margin: 0;
  padding: 0;
}

.Ymacs {
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
}

.Ymacs_Overlay .flash-code { opacity: 0.6; filter: alpha(opacity=60); }
.Ymacs_Overlay .flash-code { background: #3f8; }

.Ymacs_Frame .ss-error {
  color: #f30;
}

.Ymacs-Theme-dark .Ymacs_Frame .sl-prompt {
  color: #fc8; font-weight: bold;
}

.Ymacs-Theme-light .Ymacs_Frame .sl-prompt {
  color: #000; font-weight: bold;
}

.Ymacs-Theme-light .Ymacs_Frame-active .Ymacs_Modeline {
  background-color: #fea;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
