.pgn-viewer {

    font-family: sans-serif;
    background: #fff;
    color: #000;
    border-color: #465 !important;

    .layout {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2.4em 1fr 2.4em;
    }

    .cont-board {
        grid-column: 1;
        grid-row: 2;
        padding: 8px 8px 0 8px;
        overflow: hidden;
    }

    .cont-ctrl {
        grid-column: 1;
        grid-row: 3;
        display: flex;
        align-items: center;
        padding-left: 8px;
    }

    .cont-list {
        grid-row: 2 / span 2;
        grid-column: 2;
    }

    .cont-title {
        grid-column: 1 / span 2;
        grid-row: 1;
        display: flex;
        align-items: center;
        padding-left: 10px;
        background: #acb;
        border-bottom: 1px solid #465;
    }

    .board {
        position: relative;
        max-height: 100%;
        aspect-ratio: 1/1;
        transition: 0.5s;
        border: 2px solid #000;

        background-color: #ffe;
        svg {
            position: absolute;
            width: 100%;
            height: 100%;
            color: #ddc;
        }

        .piece {
            position: absolute;
            width: 12.5%;
            height: 12.5%;
            transition: transform 0.6s, left 0.5s, top 0.45s;
            background-repeat: no-repeat;
            background-size: 84% 84%;
            background-position: 50% 50%;

            &[data-piece='p'] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cpath d='M22 9a4.001 4.001 0 0 0-3.219 6.375C16.83 16.497 15.5 18.588 15.5 21a6.47 6.47 0 0 0 2.406 5.031C14.907 27.09 10.5 31.578 10.5 39.5h23c0-7.922-4.407-12.41-7.406-13.469A6.47 6.47 0 0 0 28.5 21c0-2.412-1.33-4.503-3.281-5.625A4.001 4.001 0 0 0 22 9z' stroke='%23000' stroke-linecap='round' stroke-dashoffset='10'/%3E%3C/svg%3E");
            }
            &[data-piece='n'] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cpath d='M22 10c10.5 1 16.5 8 16 29H15c0-9 10-6.5 8-21' fill-rule='evenodd' stroke='%23000' stroke-linecap='round'/%3E%3Cpath d='M24 18c.384 2.911-5.553 7.369-8 9-3 2-2.82 4.343-5 4-1.042-.944 1.413-3.038 0-3-1 0 .187 1.232-1 2-1 0-4.003 1-4-4 0-2 6-12 6-12s1.886-1.902 2-3.5c-.726-.994-.5-2-.5-3 1-1 3 2.5 3 2.5h2s.782-1.992 2.5-3c1 0 1 3 1 3' fill-rule='evenodd' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9.5 25.5a.5.5 0 1 1-1 0 .5.5 0 1 1 1 0M14.933 15.75a.5 1.5 30 1 1-.866-.5.5 1.5 30 1 1 .866.5' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='m24.55 10.4-.3 1.1.55.1c3.101.477 6.324 2.234 8.575 6.494S36.297 29.057 35.8 39l-.05.5h1.75V39c.503-10.057-.876-16.853-3.25-21.344s-5.789-6.633-9.187-7.156z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
            }
            &[data-piece='b'] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cg stroke-width='1.5'%3E%3Cpath d='M9 36c3.385-.972 10.115.43 13.5-2 3.385 2.43 10.115 1.028 13.5 2 0 0 1.646.542 3 2-.677.972-1.646.986-3 .5-3.385-.972-10.115.458-13.5-1-3.385 1.458-10.115.028-13.5 1-1.354.486-2.323.472-3-.5 1.354-1.945 3-2 3-2z' fill-rule='evenodd' stroke='%23000' stroke-linejoin='round'/%3E%3Cpath d='M15 32c2.5 2.5 12.5 2.5 15 0 .5-1.5 0-2 0-2 0-2.5-2.5-4-2.5-4 5.5-1.5 6-11.5-5-15.5-11 4-10.5 14-5 15.5 0 0-2.5 1.5-2.5 4 0 0-.5.5 0 2z' fill-rule='evenodd' stroke='%23000' stroke-linejoin='round'/%3E%3Cpath d='M25 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 1 1 5 0z' stroke='%23000' stroke-linejoin='round'/%3E%3Cpath d='M17.5 26h10M15 30h15M22.5 15.5v5M20 18h5' fill='none' stroke='%23fff' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
            }
            &[data-piece='r'] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cpath d='M9 39h27v-3H9zM12.5 32l1.5-2.5h17l1.5 2.5zM12 36v-4h21v4z' fill-rule='evenodd' stroke='%23000' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M14 29.5v-13h17v13z' fill-rule='evenodd' stroke='%23000' stroke-width='1.5'/%3E%3Cpath d='M14 16.5 11 14h23l-3 2.5zM11 14V9h4v2h5V9h5v2h5V9h4v5z' fill-rule='evenodd' stroke='%23000' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M12 35.5h21M13 31.5h19M14 29.5h17M14 16.5h17M11 14h23' fill='none' stroke='%23fff' stroke-linecap='round'/%3E%3C/svg%3E");
            }
            &[data-piece='q'] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cg stroke-linejoin='round'%3E%3Cpath d='M8 12a2 2 0 1 1-4 0 2 2 0 1 1 4 0M24.5 7.5a2 2 0 1 1-4 0 2 2 0 1 1 4 0M41 12a2 2 0 1 1-4 0 2 2 0 1 1 4 0M16 8.5a2 2 0 1 1-4 0 2 2 0 1 1 4 0M33 9a2 2 0 1 1-4 0 2 2 0 1 1 4 0' stroke='%23000' stroke-linecap='round'/%3E%3Cpath d='M9 26c8.5-1.5 21-1.5 27 0l2-12-7 11V11l-5.5 13.5-3-15-3 15-5.5-14V25L7 14z' fill-rule='evenodd' stroke='%23000'/%3E%3Cpath d='M9 26c0 2 1.5 2 2.5 4 1 1.5 1 1 .5 3.5-1.5 1-1.5 2.5-1.5 2.5-1.5 1.5.5 2.5.5 2.5 6.5 1 16.5 1 23 0 0 0 1.5-1 0-2.5 0 0 .5-1.5-1-2.5-.5-2.5-.5-2 .5-3.5 1-2 2.5-2 2.5-4-8.5-1.5-18.5-1.5-27 0z' fill-rule='evenodd' stroke='%23000'/%3E%3Cpath d='M11.5 30c3.5-1 18.5-1 22 0M12 33.5c6-1 15-1 21 0M10.5 36c5-1 18.5-1 23.5 0' fill='none' stroke='%23fff' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
            }
            &[data-piece='k'] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cg stroke-width='1.5'%3E%3Cpath d='M22.5 11.625V6' fill='none' stroke='%23000' stroke-linecap='round'/%3E%3Cpath d='M22.5 25s4.5-7.5 3-10.5c0 0-1-2.5-3-2.5s-3 2.5-3 2.5c-1.5 3 3 10.5 3 10.5' fill-rule='evenodd' stroke='%23000'/%3E%3Cpath d='M11.5 37c5.5 3.5 15.5 3.5 21 0v-7s9-4.5 6-10.5c-4-6.5-13.5-3.5-16 4V27v-3.5c-3.5-7.5-13-10.5-16-4-3 6 5 10 5 10z' fill-rule='evenodd' stroke='%23000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 8h5' fill='none' stroke='%23000' stroke-linecap='round'/%3E%3Cpath d='M11.5 29.5C17 27 27 27 32.5 30' fill='none' stroke='%23fff' stroke-linecap='round'/%3E%3Cpath d='M11.5 37c5.5-2.5 15.5-2.5 21 0M11.5 33.5c5.5-2 15.5-2 21 0M32 29.5s8.5-4 6.026-9.653C34.147 13.997 25 18 22.5 24.5l.012 2.097L22.5 24.5C20 18 9.906 13.997 6.997 19.847c-2.497 5.653 4.849 9 4.849 9' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
            }

            &[data-piece='P'] {
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg xmlns:dc='http://purl.org/dc/elements/1.1/' xmlns:cc='http://web.resource.org/cc/' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' width='45' height='45' id='svg3128' sodipodi:version='0.32' inkscape:version='0.44.1' version='1.0' sodipodi:docbase='/home/cburnett/wikipedia/images/chess' sodipodi:docname='Chess plt45.svg'%3E%3Cdefs id='defs3130' /%3E%3Csodipodi:namedview id='base' pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1.0' gridtolerance='10000' guidetolerance='10' objecttolerance='10' inkscape:pageopacity='0.0' inkscape:pageshadow='2' inkscape:zoom='11.2' inkscape:cx='22.89394' inkscape:cy='17.72157' inkscape:document-units='px' inkscape:current-layer='layer1' height='45px' width='45px' inkscape:grid-points='true' showgrid='true' inkscape:window-width='977' inkscape:window-height='965' inkscape:window-x='0' inkscape:window-y='31' gridspacingx='0.5px' gridspacingy='0.5px' /%3E%3Cmetadata id='metadata3133'%3E%3Crdf:RDF%3E%3Ccc:Work rdf:about=''%3E%3Cdc:format%3Eimage/svg+xml%3C/dc:format%3E%3Cdc:type rdf:resource='http://purl.org/dc/dcmitype/StillImage' /%3E%3C/cc:Work%3E%3C/rdf:RDF%3E%3C/metadata%3E%3Cg inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1'%3E%3Cpath style='opacity:1;fill:white;fill-opacity:1;fill-rule:nonzero;stroke:black;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:10;stroke-opacity:1' d='M 22 9 C 19.792 9 18 10.792 18 13 C 18 13.885103 18.29397 14.712226 18.78125 15.375 C 16.829274 16.496917 15.5 18.588492 15.5 21 C 15.5 23.033947 16.442042 24.839082 17.90625 26.03125 C 14.907101 27.08912 10.5 31.578049 10.5 39.5 L 33.5 39.5 C 33.5 31.578049 29.092899 27.08912 26.09375 26.03125 C 27.557958 24.839082 28.5 23.033948 28.5 21 C 28.5 18.588492 27.170726 16.496917 25.21875 15.375 C 25.70603 14.712226 26 13.885103 26 13 C 26 10.792 24.208 9 22 9 z ' id='path3194' /%3E%3C/g%3E%3C/svg%3E%0A");
            }
            &[data-piece='N'] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cg stroke='%23000' stroke-linecap='round'%3E%3Cpath d='M22 10c10.5 1 16.5 8 16 29H15c0-9 10-6.5 8-21' fill='%23fff' fill-rule='evenodd' stroke-width='1.5'/%3E%3Cpath d='M24 18c.384 2.911-5.553 7.369-8 9-3 2-2.82 4.343-5 4-1.042-.944 1.413-3.038 0-3-1 0 .187 1.232-1 2-1 0-4.003 1-4-4 0-2 6-12 6-12s1.886-1.902 2-3.5c-.726-.994-.5-2-.5-3 1-1 3 2.5 3 2.5h2s.782-1.992 2.5-3c1 0 1 3 1 3' fill='%23fff' fill-rule='evenodd' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M9.5 25.5a.5.5 0 1 1-1 0 .5.5 0 1 1 1 0M14.933 15.75a.5 1.5 30 1 1-.866-.5.5 1.5 30 1 1 .866.5' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='M37 39c1-20-5.5-27.5-12-28.5' fill='none'/%3E%3C/g%3E%3C/svg%3E");
            }
            &[data-piece='B'] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cg stroke='%23000' stroke-width='1.5'%3E%3Cpath d='M9 36c3.385-.972 10.115.43 13.5-2 3.385 2.43 10.115 1.028 13.5 2 0 0 1.646.542 3 2-.677.972-1.646.986-3 .5-3.385-.972-10.115.458-13.5-1-3.385 1.458-10.115.028-13.5 1-1.354.486-2.323.472-3-.5 1.354-1.945 3-2 3-2z' fill='%23fff' fill-rule='evenodd' stroke-linejoin='round'/%3E%3Cpath d='M15 32c2.5 2.5 12.5 2.5 15 0 .5-1.5 0-2 0-2 0-2.5-2.5-4-2.5-4 5.5-1.5 6-11.5-5-15.5-11 4-10.5 14-5 15.5 0 0-2.5 1.5-2.5 4 0 0-.5.5 0 2z' fill='%23fff' fill-rule='evenodd' stroke-linejoin='round'/%3E%3Cpath d='M25 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 1 1 5 0z' fill='%23fff' stroke-linejoin='round'/%3E%3Cpath d='M17.5 26h10M15 30h15' fill='none'/%3E%3Cpath d='M22.5 15.5v5M20 18h5' fill='none' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
            }
            &[data-piece='R'] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cg stroke='%23000'%3E%3Cpath d='M9 39h27v-3H9zM12 36v-4h21v4zM11 14V9h4v2h5V9h5v2h5V9h4v5' fill='%23fff' fill-rule='evenodd' stroke-width='1.5' stroke-linejoin='round'/%3E%3Cpath d='m34 14-3 3H14l-3-3' fill='%23fff' fill-rule='evenodd' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M31 17v12.5H14V17' fill='%23fff' fill-rule='evenodd' stroke-width='1.5'/%3E%3Cpath d='m31 29.5 1.5 2.5h-20l1.5-2.5' fill='%23fff' fill-rule='evenodd' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11 14h23' fill='none' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
            }
            &[data-piece='Q'] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cg stroke='%23000' stroke-linejoin='round'%3E%3Cpath d='M8 12a2 2 0 1 1-4 0 2 2 0 1 1 4 0M24.5 7.5a2 2 0 1 1-4 0 2 2 0 1 1 4 0M41 12a2 2 0 1 1-4 0 2 2 0 1 1 4 0M16 8.5a2 2 0 1 1-4 0 2 2 0 1 1 4 0M33 9a2 2 0 1 1-4 0 2 2 0 1 1 4 0' fill='%23fff' stroke-width='1.5' stroke-linecap='round'/%3E%3Cpath d='M9 26c8.5-1.5 21-1.5 27 0l2-12-7 11V11l-5.5 13.5-3-15-3 15-5.5-14V25L7 14z' fill='%23fff' fill-rule='evenodd' stroke-width='1.5'/%3E%3Cpath d='M9 26c0 2 1.5 2 2.5 4 1 1.5 1 1 .5 3.5-1.5 1-1.5 2.5-1.5 2.5-1.5 1.5.5 2.5.5 2.5 6.5 1 16.5 1 23 0 0 0 1.5-1 0-2.5 0 0 .5-1.5-1-2.5-.5-2.5-.5-2 .5-3.5 1-2 2.5-2 2.5-4-8.5-1.5-18.5-1.5-27 0z' fill='%23fff' fill-rule='evenodd' stroke-width='1.5'/%3E%3Cpath d='M11.5 30c3.5-1 18.5-1 22 0M12 33.5c6-1 15-1 21 0M10.5 36c5-1 18.5-1 23.5 0' fill='none' stroke-linecap='round'/%3E%3C/g%3E%3C/svg%3E");
            }
            &[data-piece='K'] {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='45' height='45'%3E%3Cg stroke='%23000' stroke-width='1.5'%3E%3Cpath d='M22.5 11.625V6' fill='none' stroke-linecap='round'/%3E%3Cpath d='M22.5 25s4.5-7.5 3-10.5c0 0-1-2.5-3-2.5s-3 2.5-3 2.5c-1.5 3 3 10.5 3 10.5' fill='%23fff' fill-rule='evenodd'/%3E%3Cpath d='M11.5 37c5.5 3.5 15.5 3.5 21 0v-7s9-4.5 6-10.5c-4-6.5-13.5-3.5-16 4V27v-3.5c-3.5-7.5-13-10.5-16-4-3 6 5 10 5 10z' fill='%23fff' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 8h5M11.5 29.5C17 27 27 27 32.5 30' fill='none' stroke-linecap='round'/%3E%3Cpath d='M11.5 37c5.5-2.5 15.5-2.5 21 0M11.5 33.5c5.5-2 15.5-2 21 0' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
            }

            &[data-row='7'] { top: 0; }
            &[data-row='6'] { top: 12.5%; }
            &[data-row='5'] { top: 25%; }
            &[data-row='4'] { top: 37.5%; }
            &[data-row='3'] { top: 50%; }
            &[data-row='2'] { top: 62.5%; }
            &[data-row='1'] { top: 75%; }
            &[data-row='0'] { top: 87.5%; }
            &[data-col='0'] { left: 0; }
            &[data-col='1'] { left: 12.5%; }
            &[data-col='2'] { left: 25%; }
            &[data-col='3'] { left: 37.5%; }
            &[data-col='4'] { left: 50%; }
            &[data-col='5'] { left: 62.5%; }
            &[data-col='6'] { left: 75%; }
            &[data-col='7'] { left: 87.5%; }
        }

        &.reverse {
            transform: rotate(-180deg);
            .piece {
                transform: rotate(180deg);
            }
        }
    }
}
